.App {
  width: 100vw;
  height: 100vh;
 
}
.configurator {
  position: fixed;
  right: 24px;
  bottom: 25vh;
  width: 360px;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}